/* Button.css */
.my-button {
    background-color: #4caf50; /* Green background color */
    border: none; /* Remove border */
    color: white; /* White text color */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove text underline */
    display: inline-block;
    font-size: 16px; /* Font size */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  